@import 'slicer';
@import 'design';
@import "ember-power-select";

body, input, button, select, option, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

body {
  padding: 0;
  margin: 0;
}

.main-menu {
  background: black;
  width: 100%;
  padding: 10px 40px;
  a {
    display: inline-block;
    width: 100px;
    padding: 6px 10px;
    margin-right: 6px;
    color: white;
    border-radius: 8px;
    text-align: center;
    background: #d8367f;
    text-decoration: none;
  }
}

$emailColumnColor: #e1e8f4;

.layout-section {
  width: 100%;
  background: white;
  border: 1px black solid;
  margin-bottom: 20px;
  overflow: auto;
  min-height: 60px;

  &.preview {
    border: none;
    margin-bottom: 0;
  }
}

.selecting-asset {
  padding: 10px;
}

.email-builder-tool {
  display: flex;
  width: 100%;
}

.builder-tool-column {
  height: 100%;
  min-height: 800px;
  flex-grow: 1;
}
.layout-separator {
  width: 100%;
  border-top: 1px black solid;
  margin-bottom: 20px;
}


.button-bar, .design-attributes {
  margin: 20px 0;
}

.tool-box {
  top: 220px;
}

.email-view-column {
  background: $emailColumnColor;
  border-left: solid black 2px;
  border-right: solid black 2px;
  flex-grow: 3;
}

.column-header {
  background: lightgrey;
  text-align: center;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.content-selector-list {
  .dir {
    padding-top: 10px;
  }
}

.column-body {
  max-width: 760px;
  padding: 8px 20px;
}

.email-controls {
  padding: 2px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-around;
}

.canvas {
  position: relative;
  margin-left: 100px;
  background: lightgoldenrodyellow;
}

.border-block {
  //position: absolute;
  //top: 1px;
  background: blue;
  height: 3px;
  width: 100%
}

.section-selector {
  height: 100%
}

.file-panel {
  margin: 20px 0;
}

.email-designer-buttons {
  display: flex;
  justify-content: space-around;
}