@import 'slicer';
@import 'design';


$emailColumnColor: #e1e8f4;

.layout-section {
  width: 100%;
  background: white;
  border: 1px black solid;
  margin-bottom: 20px;
  height: 60px;

&.content {
   height: 300px;
 }
}

.email-builder-tool {
  display: flex;
  width: 100%;
}

.builder-tool-column {
  height: 100%;
  min-height: 800px;
  flex-grow: 1;
}
.layout-separator {
  width: 100%;
  border-top: 1px black solid;
  margin-bottom: 20px;
}


.button-bar, .design-attributes {
  margin: 20px 0;
}

.tool-box {
  top: 220px;
}

.email-view-column {
  background: $emailColumnColor;
  border-left: solid black 2px;
  border-right: solid black 2px;
  flex-grow: 3;
}

.column-header {
  background: lightgrey;
  text-align: center;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.content-selector-list {
  .dir {
    padding-top: 10px;
  }
}

.column-body {
  padding: 8px;
}

.email-controls {
  padding: 2px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-around;
}
